/**
 * Global */

$ms-font-path: '../fonts' !default;
$ms-version: '1.4.1' !default;
$ms-font-size-base: 14px !default;
$ms-prefix: ms !default;
$ms-serif-font: 'MPlantin, Garamond, Palatino, 'Times New Roman', Times, serif' !default;
